*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FCE6A8;
    display: grid;
    height: 100vh;
    box-sizing: border-box;

    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    grid-template-areas: 
        "menu header"
        "main main"
        "footer footer"
    ;
    padding: 5px;
    gap: 5px;    
}
.header{
    display: flex;
    background-color: #D2E4E1;
    grid-area: header;
    justify-content: center;
    align-items: center;
}
.header > p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    display: flex;
    background-color: #D2E4E1;
    grid-area: menu;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#home, #contato{
    flex-grow: 1;
    background-color: #788896;
    border:#788896;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: #D2E4E1;
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-left: 300px;
    padding-right: 300px;
}
.card{
    background-color: #E3E8ED;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    gap: 30px;
    padding: 20px;
}
.card > .colunaButton{
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    gap: 10px;
    justify-content: center;
}
.card > .colunaButton > #valorUm, #valorDois, #buttonSoma, #idPokemon, #buttonBuscarPokemon{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: #CED8E0 2px solid;
    border-radius: 5px;
    padding: 10px;
}
.card > .colunaButton > #valorUm::placeholder, #valorDois::placeholder, #buttonSoma::placeholder, 
#idPokemon::placeholder, #buttonBuscarPokemon::placeholder{
    color: #E3E8ED;
}
.card > .colunaButton > #buttonSoma, #buttonBuscarPokemon{
    background-color: #788896;
    color: white;
}
.card > .colunaResult{
    background-color: #CED8E0;
    border: #788896 2px solid;
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    padding: 10PX;
}
.card > .colunaResult > .labelResultado > label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.card > .colunaResult > .valorResultado > label{
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
#imgPokemon{
    border: red 2px solid;
}
.footer{
    background-color: #D2E4E1;
    grid-area: footer;
    display: flex;  
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}