*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #FCE6A8;
    display: grid;
    height: 100vh;
    box-sizing: border-box;
    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    grid-template-areas: 
        "menu header"
        "aside main"
        "asideDois footer"
    ;
    padding: 5px;
    gap: 5px;  
}
.header{
    display: flex;
    background-color: #D2E4E1;
    grid-area: header;
    justify-content: center;
    align-items: center;
}
.header > p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    display: flex;
    background-color: #D2E4E1;
    grid-area: menu;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}
#home, #contato{
    flex-grow: 1;
    background-color: #788896;
    border:#788896;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.aside{
    background-color: #D2E4E1;
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.aside > #foto{
    border-radius: 50%;
}
.aside > .redesSociais{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.aside > .redesSociais > #linkedin, #github{
    background-color: #788896;
    padding: 8px;
    padding-left: 60px;
    padding-right: 60px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
}
.main{
    background-color: #D2E4E1;
    grid-area: main;
    padding-top: 10px;
    padding-left: 150px;
    padding-right: 150px;
}
.main > .contato{
    background-color: #E3E8ED;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.1fr 0.1fr 0.7fr 0.1fr 0.1fr;
    grid-template-areas: 
        "nome sobrenome"
        "email email"
        "mensagem mensagem"
        "buttonEnviar buttonEnviar"
        "retornoEnvio retornoEnvio"
    ;
    padding-top: 60px;
    padding-left: 80px;
    padding-right: 80px;
    gap: 10px;
}
.main > .contato > #nome{
    grid-area: nome;
    border: #CED8E0 2px solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}
.main > .contato > #sobrenome{
    grid-area: sobrenome;
    border: #CED8E0 2px solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}
.main > .contato > #email{
    grid-area: email;
    border: #CED8E0 2px solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}
.main > .contato > #mensagem{
    grid-area: mensagem;
    border: #CED8E0 2px solid;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px;
}
.main > .contato > #nome::placeholder, 
#sobrenome::placeholder,
#email::placeholder,
#mensagem::placeholder{
    color: #CED8E0;
}
.main > .contato > #buttonEnviar{
    grid-area: buttonEnviar;
    background-color: #788896;
    border: #788896;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
}
.main > .contato > #retornoEnvio{
    grid-area: retornoEnvio;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 5px;
}
.asideDois{
    background-color: #D2E4E1;
    grid-area: asideDois;
}
.footer{
    background-color: #D2E4E1;
    grid-area: footer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}