*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FCE6A8;
    display: grid;
    height: 100vh;
    box-sizing: border-box;

    grid-template-columns: 0.2fr 0.8fr;
    grid-template-rows: 0.1fr 0.8fr 0.1fr;
    grid-template-areas: 
        "menu header"
        "main main"
        "footer footer"
    ;
    padding: 5px;
    gap: 5px;    
}
.header{
    display: flex;
    background-color: #D2E4E1;
    grid-area: header;
    justify-content: center;
    align-items: center;
}
.header > p{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.menu{
    display: flex;
    background-color: #D2E4E1;
    grid-area: menu;
    gap: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
#home, #contato{
    flex-grow: 1;
    background-color: #788896;
    border:#788896;
    border-radius: 5px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main{
    background-color: #D2E4E1;
    grid-area: main;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-left: 300px;
    padding-right: 300px;
}
.calculadora{
    background-color: #E3E8ED;
    display: flex;
    flex-grow: 10;
    gap: 30px;
    padding: 20px;
}
.calculadora > .somaValores{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-grow: 1;
}
.calculadora > .somaValores > #valorUm, #valorDois{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: #CED8E0 2px solid;
    border-radius: 5px;
    padding-left: 10px;
    flex-grow: 1;
}
.calculadora > .somaValores > #valorUm::placeholder, #valorDois::placeholder{
    color: #CED8E0;
}
.calculadora > .somaValores > #buttonSoma{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #788896;
    color: white;
    border: #788896 2px solid;
    border-radius: 5px;
    flex-grow: 1;
}
.calculadora > .divResult{
    display: flex;
    flex-direction: column;
    background-color: #CED8E0;
    border: #788896 2px solid;
    padding: 15px;
    flex-grow: 8;
    font-size: 20px;
}
.calculadora > .divResult > #valorResultado{
    font-size: 60px;
    text-align: center;
} 
.pokedex{
    background-color: #E3E8ED;
    display: flex;
    flex-direction: row;    
    flex-grow: 1;
    gap: 30px;
    padding: 20px;
}
.pokedex > .consultaPokemon{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 15px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.pokedex > .consultaPokemon > #idPokemon{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: #CED8E0 2px solid;
    border-radius: 5px;
    padding: 10px;
    /* padding-left: 5px; */
    flex-grow: 1;
}
.pokedex > .consultaPokemon > #idPokemon::placeholder{
    color: #CED8E0;
}
.pokedex > .consultaPokemon > #buttonBuscarPokemon{
    background-color: #788896;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: #788896 2px solid;
    border-radius: 5px;
    padding: 10px;

    flex-grow: 1;
}
.pokedex > .pokemon{
    display: flex;
    background-color: #CED8E0;
    border: #788896 2px solid;
    flex-direction: column;
    flex-grow: 6;
    padding: 15px;
    gap: 10px;
}
.pokedex > .pokemon > .descricaoPokemon{
    display: flex;
    flex-grow: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    flex-grow: 1;
    gap: 5px
}
.pokedex > .pokemon > .descricaoPokemon > #nome{
    background-color: #CED8E0;
}
/* .pokedex > .pokemon > #imgPokemon{
    flex-grow: 10;
} */
.footer{
    background-color: #D2E4E1;
    grid-area: footer;
    display: flex;  
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}